h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

p {
    color: gold;
    font-size: 30px;
    font-weight: 700;
}
img{
    height: 100px;
}
@media (max-width:720px) {
    img {
        margin: 16px;
    }
}